:root {
    --system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --feher: whitesmoke;
    --fekete: black;
    --kek: blue;
    --liZold: green;
    --zold: green;
    --liHalvanyZold: lightgreen;
    --lila: purple;
    --piros: red;
    --sarga: yellow;
}
