<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="/css/stilus.css"
        />
        <title>Cukrászda szerveroldal</title>
    </head>
    <body>
        <%- include('nav.ejs') %>
        <div id="main-kontener">
            <h1>Cukrászat szerveroldal</h1>
        </div>
    </body>
</html>
