.row-3 {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1em;
}

.kontener {
    border: 1px solid grey;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* @media screen and (max-width: 1200px) {
    .row-3 {
        grid-template-columns: repeat(2, 1fr);
    }
} */

@media screen and (max-width: 1300px) {
    .row-3 {
        grid-template-columns: repeat(1, 1fr);
    }
}
